<div class="jumbotron">

	<center>
		<h1>Welcome to my Pizza Shack!</h1>

		<div class="home">
			<img src="http://www.titospizzaspringhill.com/wp-content/uploads/2015/09/pixxa2.png" class="home_img">
		</div>
		<br>

		<%= link_to "Check out our Pizzas!", pizzas_path, class: "btn btn-default" %>
	</center>
</div>
